<ul class="breadcrumb">
  <li>
    <%= link_to 'root', admin_categories_path %>
    <span class="divider">/<span>
  <li>
  <% if parent %>
  <li>
    <%= link_to parent.name, { :controller => 'categories', :action => "index", :id => parent } %>
    <span class="divider">/<span>
  </li>
  <% end %>
</ul>
