<ul class="breadcrumb">
  <li>
    <%= link_to 'root', admin_categories_path %>
    <span class="divider">/<span>
  <li>
  <% unless parent.nil? %>
  <li>
    <%= link_to parent.name, { :controller => 'categories', :action => "index", :id => parent } %>
  </li>
  <% end %>
</ul>
