<% if target.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error alert-block">
      <a class="close" data-dismiss="alert">×</a>
      <h4 class="alert-heading"><%= pluralize(target.errors.count, "error") %> prohibited this from being save:</h4>
      <ul>
        <% target.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>