<div id="myCarousel" class="carousel">
  <!-- Carousel items -->
  <div class="carousel-inner">
    <% @products.each_with_index do |product, index| %>
      <% if index == 0 %>
        <div class="active item">
      <% else %>
        <div class="item">
      <% end %>
        <%= link_to image_tag(product.image_url()), product %>
        <div class="carousel-caption">
          <h4><%= product.name %></h4>
          <p><%= product.description %></p>
          <p><%= link_to 'All Products', products_path, :class => 'btn btn-primary' %></p>
        </div>
      </div>
    <% end %>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
