<ul class="thumbnails">
  <% @products.each do |product| %>
    <li class="span2">
      <%= link_to image_tag(product.image.thumb.url), product, :class => 'thumbnail' %>
      <div class="caption" style="text-align: center">
        <h5><%= product.name %></h5>
      </div>
    </li>
  <% end %>
</ul>

<%= will_paginate %>
